.main_container_select{
    font-size: 14px;
    border-radius: 5px;
    height: min-content;
    transition : 0.5s;
     width: 600px;
    .options_title{
        background-color: rgb(199, 199, 199);
        border-radius: 5px;
        padding : 10px 
    }
    .liste{
        overflow-y: scroll;
        overflow-x: hidden;
        height: min-content;

        .container_rows{
            display: grid;
            grid-template-columns: 10% 80%;
            border-bottom: solid rgb(203, 203, 203) 1px;
            padding: 5px;
            font-size: 12px;
            width: 400px;
            text-align: left;
         }
    }
    
}
